#createPost {
    text-align: center;
    margin: auto;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 150px;
    background-color: white;
}


.post-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; 
}

.button-container button {
    margin-left: 10px; 
}


.profil-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profil-left {
    max-width: calc(50% - 15px); 
}

.profil-right {
    max-width: calc(50% - 15px); 
}





#biography {
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.proproflie-data {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.button-edit-lihatPost {
    text-align: center;
    padding: 10px;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.h2-position {
    text-align: center;
    margin: 5px auto;  

    background-color: #333;
    color: #fff;
    cursor: pointer;
}



#createPost {
    text-align: center;
    margin: auto;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 150px;
    background-color: white;
}




#imageProfile {
    border-radius: 50%;
    border: 5px solid transparent;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

#biography {
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.proproflie-data {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}




/* Dark Mode */
.dark-mode #createPost {
    background-color: black;
    color: white;
}

.dark-mode .profil-section {
    background-color: black;
    color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.dark-mode #img-profil {
    border-color: white;
}

.dark-mode #biography {
    background-color: #333;
    color: white;
    border: solid 1px white;
}

.dark-mode .proprofile-data {
    color: white;
}



.flex-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


